/* RESET*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* PATTERN:

Title: #e53170

*/

/* Parte Iniziale  */

h1{
    color: #e53170;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    width: 100%;
}

main{
    margin: 0 auto;
    padding: 80px 0;
    width: 1100px;
}

.text{
    margin: 50px 0;
    font-size: 20px;
    text-align: justify;
    text-align-last: center;
}

/* Corpo pagina */


.subject{
    color: white;
    height: 100%;
    width: calc(100% / 3 - 20px);
    float: left;
    padding-bottom: 30px;
    margin: 10px;
}

.subject::after{
    content: "";
    display: table;
    clear: both;
}

main::after{
    content: "";
    display: table;
    clear: both;
}

.subject img{
    height: 100px;
    float: left;
    box-shadow: 0px 0px 18px 1px #000000;
}

.info{
    background-color: #0f0e17;
    float: left;
    height: 100px;
    padding-left: 10px;
    padding-right: 20px;
    width: calc(100% - 100px);
    box-shadow: 0px 0px 18px 1px #000000;
}

.info a{
    color: #038bc9;
    text-decoration: none;
}
