/* RESET*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* PATTERN:

Title: #e53170

*/

/* Parte Iniziale  */

h1{
    color: #e53170;
    text-align: center;
    font-family: 'Fredoka One', cursive;
}

body{
    width: 60%;
    margin: 0 auto;
    padding: 80px 0;
}

.text{
    margin: 50px 0;
    font-size: 20px;
}

/* Corpo pagina */


.subject{
    color: white;
    height: 100%;
    width: calc(100% / 3);
    float: left;
    padding-bottom: 30px;
}

.subject::after{
    content: "";
    display: table;
    clear: both;
}

.subject img{
    height: 100px;
    float: left;

}

.info{
    margin: auto;
    background-color: #0f0e17;
    float: left;
    height: 100px;
    padding-left: 10px;
    padding-right: 20px ;
}

.center{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.info a{
    color: #038bc9;
    text-decoration: none;
}
