/* RESET*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* PATTERN:

Title: #e53170

*/

/* Parte Iniziale  */

h1{
    color: #e53170;
    text-align: center;
    font-family: 'Fredoka One', cursive;
}

body{
    max-width: 1000px;
    margin: 0 auto;
    padding: 80px 0;
}

.text{
    margin-top: 50px;
    font-size: 20px;
}

/* Corpo pagina */

